/**
*  	ESTILOSO.CSS versão 1.0
*	Desenvolvedor: Fabio C. Botelho
*/

/**
* RESET de informações CSS
*/

/* Removendo margens padrão dos navegadores */
body{

	padding:0;
}

/* Tratando links */
a{
	text-decoration: none;
}
a:hover,
a:active{
	outline: none;
}

/* Removendo espaçamento entre células e ajustando bordas das tabelas */
table{
	border-collapse: collapse;
	border-spacing: 0;
}
th, tr, td{
	padding: 0;
}

/* Tratando o negrito */
b, strong{
	font-weight: bold;
}



/**
* PADRONIZAÇÃO de estilos ***********************************************************************************************
*/
/* Gerais */
*{
	font-size: 1em;
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
	
}

/* Imagem e video com tamanho máximo de 100% do elemento pai */
img, video{
	max-width: 100%;
}

/* Retirando margens e marcadores das listas */
ul, ol, dd{
	margin: 0;
	padding: 0;
	list-style: none;
}


/**
* APARÊNCIA ********************************************************************************************************
*/
/* Parágrafos */
p{
	margin: 8px 0;
	line-height: 1.2;
}

/* Cabeçalhos */
h1{
	font-size: 2.2em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.6em;
}
h5{
	font-size: 1.4em;
}
h6{
	font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
	font-weight: bold;
}

/* Small */
small{
	font-size:0.75em;
}

/* Régua Horizontal */
hr{
	border: none;
	background: #ccc;
	height: 1px;
	margin:20px 0;
}


/**
* CLASSES DE APOIO ********************************************************************************************************
*/

/* Textos */
.txt-sublinhado{
	text-decoration: underline;
}
.txt-centralizado{
	text-align: center;
}
.txt-justificado{
	text-align: justify;
}
.txt-direita{
	text-align: right;
}

/* Links */
.link:hover{
	text-decoration: underline;
}

/* Destaque em frases */
.txt{
	color: #BDC3C7;
}
.txt-info{
	color: #2980B9;
}
.txt-alert{
	color: #F1C40F;
}
.txt-sucesso{
	color: #2ECC71;
}
.txt-erro{
	color: #D35400;
}
.txt-fatal{
	color: #555;
}


/* Destaque em textos */
.dest{
	padding: 1px 5px; 
	background: #BDC3C7;
	color: #F9F9F9;
	display:inline-block;
	vertical-align:text-bottom;
}
.dest-info{
	padding: 1px 5px; 
	background: #2980B9;
	color: #f9f9f9;
	display:inline-block;
	vertical-align:text-bottom;
	cursor:help;
}
.dest-alert{
	padding: 1px 5px; 
	background: #F1C40F;
	color: #f9f9f9;
	display:inline-block;
	vertical-align:text-bottom;
}
.dest-sucesso{
	padding: 1px 5px; 
	background: #2ECC71;
	color: #f9f9f9;
	display:inline-block;
	vertical-align:text-bottom;
}
.dest-erro{
	padding: 1px 5px; 
	background: #D35400;
	color: #f9f9f9;
	display:inline-block;
	vertical-align:text-bottom;
}
.dest-fatal{
	padding: 1px 5px; 
	background: #555;
	color: #f9f9f9;
	display:inline-block;
	vertical-align:text-bottom;
}

/* Destaque em Mensagens */
.msg{
	padding:15px; 
	border-left:5px solid #888;
	background: #BBB;
	color: #F9F9F9;
}
.msg-info{
	padding:15px; 
	border-left:5px solid #2980B9;
	background: #5CB3EC;
	color: #F9F9F9;
}
.msg-alert{
	padding:15px; 
	border-left:5px solid #c59e00;
	background: #E7BF22;
	color: #F9F9F9;
}
.msg-sucesso{
	padding:15px; 
	border-left:5px solid #2ECC71;
	background: #4FEE93;
	color: #F9F9F9;
}
.msg-erro{
	padding:15px; 
	border-left:5px solid #D35400;
	background: #F57622;
	color: #F9F9F9;
}
.msg-fatal{
	padding:15px; 
	border-left:5px solid #555;
	background: #777;
	color: #f9f9f9;
}

/* Blocos de Códigos */
.code{
	padding:5px;
	border: 1px dashed #ccc;
	background:#f5f5f5;
	font-family:'lucida console';
	font-size:0.8em;
	color:#555;
	line-height:1.5;
	display:list-item;
	margin:15px 0;
}
/* Citação */
cite.cite{
	font-size:0.8em;
	text-align:right;
	display:block;
	border-right:3px solid #ccc;
	padding: 5px 10px 5px 0;
	background:#f5f5f5;
}


/**
* FORMULÁRIOS ***********************************************************************************************************
*/
form{
	width:100%;
}
/* Aparência dos elementos */
input[type=text],input[type=password], input[type=email], input[type=phone], input[type=date], select, textarea{
	padding:6px;
	border:1px solid #bbb;
	font-size:0.9em;
	
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=phone]:focus,input[type=date]:focus, select:focus, textarea:focus, 
input[type=text]:hover,input[type=password]:hover,input[type=email]:hover,input[type=phone]:hover,input[type=date]:hover, select:hover, textarea:hover{
	border:1px solid #999;
	background:#f9f9f9;
	box-shadow:0px 0px 5px #999;
	outline:none;
}
textarea{
	height:100px;
}

/* tamanho das caixas e select */
.form-25{
	width:23%;
	min-width:288px;
}
.form-50{
	width:48%;
	min-width:288px;
}
.form-75{
	width:73%;
	min-width:288px;
}
.form-100{
	width:98%;
	min-width:288px;
}

/* tamanho das textareas */
.txtarea-25{
	width:23%;
	min-width:288px;
}
.txtarea-50{
	width:48%;
	min-width:288px;
}
.txtarea-75{
	width:73%;
	min-width:288px;
}
.txtarea-100{
	width:95%;
	min-width:273px;
}

/* Botões de radio e checkbox*/
input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:focus,
input[type="checkbox"]:focus{
	box-shadow:0px 0px 5px #333;
	outline:none;
	border:none;
}

/* Botões */

.btn{
	cursor:pointer;
	text-align:center;
	padding:10px;
}
.btn-info{
	border:none;
	border-bottom:3px solid #2980B9;
	background: #5CB3EC;
	color: #FFF;
}
.btn-info:hover{
	background: #2980B9;
}
.btn-info:active{
	background: #1870A8;
}
.btn-alert{
	border:none;
	border-bottom:3px solid #c59e00;
	background: #E7BF22;
	color: #F9F9F9;
}
.btn-alert:hover{
	background: #c59e00;
}
.btn-alert:active{
	background: #B48D00;
}
.btn-sucesso{
	border:none;
	border-bottom:3px solid #2ECC71;
	background: #4FEE93;
	color: #F9F9F9;
}
.btn-sucesso:hover{
	background: #2ECC71;
}
.btn-sucesso:active{
	background: #1DBB60;
}
.btn-erro{
	border:none;
	border-bottom:3px solid #D35400;
	background: #F57622;
	color: #F9F9F9;
}
.btn-erro:hover{
	background: #D35400;
}
.btn-erro:active{
	background: #C24300;
}
.btn-fatal{
	border:none;	
	border-bottom:3px solid #555;
	background: #777;
	color: #f9f9f9;
}
.btn-fatal:hover{
	background: #555;
}
.btn-fatal:active{
	background: #444;
}

/* Grupos */
.grupo{
	width: 100%;
	margin: 20px 0;
}
.grupo > label{
	display: block;
	margin: 5px 0;
}

.grupo-inline{
	width: 100%;
	margin: 20px 0;
}
.grupo-inline > label{
	float: left;
	margin: 5px 10px 5px 0;
}

.grupo-interno{
	border:1px solid #ccc;
	padding: 0 0 0 5px;
	display: inline-block;
	min-width: 280px;
	width: 90%;
}
.grupo-interno > label{
	width: auto;
	min-width: 50px;
	margin: 0 5px 0 0;
	float: left;
	padding: 6px 0;
	display: inline-block;
}
.grupo-interno > input{
	width: 60%;
	min-width: 190px;
	float: left;
	border: none;
}
.grupo-interno > input:hover{
	border: none;
	outline: none;
	box-shadow: none;
	background: none;
}
.grupo-interno > input:visited{
	border: none;
	outline: none;
	box-shadow: none;
	background: none;
}
/**
* POSICIONAMENTO ********************************************************************************************************
*/
/* Elemento pai de todos os conjuntos de divs */
.caixa{
		width: 100%;
		float: left;
		overflow: hidden;
}

.conteudo{
	width: 90%;
	margin: 0 auto;
	padding: 8px 0;
	overflow: hidden;
}

/* Media query para celulares de 320px de resolução - Tela Retrato */
@media screen and (min-width: 320px) and (max-width: 479px){
	
	/* Conteudo */
	.conteudo{
		max-width: 288px;
		background: #d4d4d4;
		overflow: hidden;
	}
	/* Colunas */
	.col1,
	.col2,
	.col3,
	.col4,
	.col5,
	.col6,
	.col7,
	.col8,
	.col9,
	.col10,
	.col11,
	.col12{
		width: 100%;
		max-width: 288px;
		background: #F96;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

}
/* Media query para celulares de 480px de resolução - Tela Retrato */
@media screen and (min-width: 480px) and (max-width: 767px){
	
	/* Conteudo */
	.conteudo{
		max-width: 432px;
		background: #d4d4d4;
		overflow: hidden;
	}


	.col2,
	.col3,
	.col4,
	.col5,
	.col6,
	.col7,
	.col8,
	.col9,
	.col10,
	.col11,
	.col12{
		width: 100%;
		max-width: 432px;
		background: #F96;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}	
	.col1{
		width: 50%;
		max-width: 240px;
		background: #963;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}	
}
/* Media query para tablets de 768px de resolução - Tela Retrato */
@media screen and (min-width: 768px) and (max-width: 959px){


	/* Conteudo */
	.conteudo{
		max-width: 692px;
		background: #d4d4d4;
		overflow: hidden;
	}


	.col4,
	.col5,
	.col6,
	.col7,
	.col8,
	.col9,
	.col10,
	.col11,
	.col12{
		width: 100%;
		max-width: 692px;
		background: #F96;
		padding: 5px 0;
		float: left;
		overflow: hidden;
		
	}	
	.col1,
	.col2,
	.col3{
		width: 50%;
		max-width: 346px;
		background: #963;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}	


}
/* Media query para tablets de 960px ou computadores de 1024x de resolução - Tela Paisagem */
@media screen and (min-width: 960px) and (max-width: 1199px){


	/* Conteudo */
	.conteudo{
		max-width: 864px;
		background: #d4d4d4;
		overflow: hidden;
	}

	.col4,
	.col5,
	.col6,
	.col7,
	.col8,
	.col9,
	.col10,
	.col11,
	.col12{
		width: 100%;
		max-width: 864px;
		background: #F96;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}	
	
	.col2,
	.col3{
		width: 50%;
		max-width: 432px;
		background: #963;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col1{
		width: 33.3%;
		max-width: 288px;
		background: #963;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}


}
/* Media query para computadores de 1220px de resolução ou maiores - Tela Psisagem */
@media screen and (min-width: 1200px){


	/* Conteudo */
	.conteudo{
		max-width: 1080px;
		overflow: hidden;
	}

	.col12{
		width: 100%;
		max-width: 1080px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col11{
		width: 91.66%;
		max-width: 990px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col10{
		width: 83.33%;
		max-width: 900px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col9{
		width: 75%;
		max-width: 810px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col8{
		width: 66.66%;
		max-width: 720px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col7{
		width: 58.33%;
		max-width: 630px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col6{
		width: 50%;
		max-width: 540px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col5{
		width: 41.65%;
		max-width: 450px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col4{
		width: 33.33%;
		max-width: 360px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}
	
	.col3{
		width: 25%;
		max-width: 270px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col2{
		width: 16.66%;
		max-width: 180px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}

	.col1{
		width: 8.33%;
		max-width: 90px;
		padding: 5px 0;
		float: left;
		overflow: hidden;
	}


}